{$API_HOSTNAME:localhost} {
  @exc_auth {
    not path /authentication
    not path /tiles
  }

  @graphql {
    path /v1/*
    path /console
  }

  reverse_proxy @graphql graphql-engine:8080

  handle_path /authentication/* {
    reverse_proxy authentication:8080
  }

  handle_path /tiles/* {
    reverse_proxy tegola:8080
  }

}
